body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* Formulário de login */

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  opacity: 0.95;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#container-login{
    background-image: url("../img/agenda.png");
    background-repeat: no-repeat;
    background-color: #3F3C45;
    padding: 1em 1em 0 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);    
}

/* Estilos gerais  */

#container-agenda{
    background-color: white;
    padding: 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;          
}

#container-logo{
    margin-bottom: 1em;
}

.nome{
    color: #0044CC;
}

.logout a{
    color: #a9302a;
    font-weight: bold;
}

.menor{
    width: 48px;
}

td.center{
    text-align: center;
}

